<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <springProperty scope="context" name="service_name" source="server.name"/>
   <springProperty scope="context" name="logstash_server" source="logging.logstash.server"/>
   <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${logstash_server}</destination>
      <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
          <providers>
              <mdc />
              <context />
              <logLevel />
              <loggerName />
              <threadName />
              <message />
              <logstashMarkers />
              <stackTrace />
          </providers>
      </encoder>
  </appender>
   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
         </pattern>
      </encoder>
   </appender>
   <root level="INFO">
      <appender-ref ref="logstash" />
      <appender-ref ref="console" />
   </root>
</configuration>